<%= form_with(model: collection, local: true) do |form| %>
  <% if collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(collection.errors.count, "error") %> prohibited this collection from being saved:</h2>

      <ul>
      <% collection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "Select album" %>
    <!-- <%= form.text_field :name, id: :collection_name %> -->
    <%= form.collection_select :name, Collection.select(:name).distinct, :name, :name, {:prompt => 'Please select the album'}, id: :collection_name %>
  </div>

  <div class="field">
    <%= form.label :picture, "Select picture" %>
    <!-- <%= form.text_field :picture, id: :collection_picture %> -->
    <%= form.select :picture, Dir.glob("*.{jpg,JPG}", base: "app/assets/images").map{|u| [u, u]}, {}, id: :collection_picture %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
