<% @title="Collection" %>

<p id="notice"><%= notice %></p>

<h1 class="font_handwriting">Collections</h1>

<p>This page lets you create, read, update, and delete albums. You can organize pictures on this page.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet tempus ex. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus enim justo, semper sit amet consequat non, egestas at libero. Phasellus vestibulum sit amet lectus vitae bibendum. In hac habitasse platea dictumst. Suspendisse turpis dui, porttitor nec pretium eu, aliquam sed tellus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi ut mattis risus. Vestibulum rhoncus nulla sed ultricies auctor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras suscipit nunc et nibh posuere, at rhoncus sem aliquet. Vestibulum luctus facilisis lacus, vitae eleifend erat dapibus a. Quisque ex lectus, dictum a ullamcorper in, pellentesque a metus. Ut tempus, augue sit amet aliquet finibus, sapien nulla interdum purus, ac mattis justo ex at sem. Pellentesque viverra lorem ac lorem pharetra gravida eu nec nisi.</p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Picture</th>
      <th colspan="3">Control</th>
    </tr>
  </thead>

  <tbody>
    <% @collections.each do |collection| %>
      <tr>
        <td><%= collection.name %></td>
        <td><%= link_to collection.picture, image_path(collection.picture) %></td>
        <td><%= link_to 'Show', collection %></td>
        <td><%= link_to 'Edit', edit_collection_path(collection) %></td>
        <td><%= link_to 'Delete', collection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Album', new_collection_path %>

<br>
