<% @title="Show" %>

<p id="notice"><%= notice %></p>

<p>This page displays the name of the picture, which album it belongs to, the description, and the image.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non leo et massa porttitor dignissim. Mauris nec ipsum a dolor faucibus ultrices et eget sapien. Morbi finibus fermentum nisl vel fermentum. Nulla quis felis lacus. Pellentesque sodales, risus vel ornare sagittis, urna nisi consequat ligula, et blandit risus turpis a arcu. Nullam consequat purus purus, in fermentum est eleifend non. Vestibulum imperdiet libero vel nibh dapibus pharetra.</p>

<p>
  <strong>Name:</strong>
  <%= @collection.name %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @collection.picture %>
</p>

<p>
  <strong>Description:</strong>
  <%= @collection.description %>
</p>

<%= image_tag(@collection.picture, class: "img-thumbnail img-fluid", alt: @collection.description) %>

<%= link_to 'Edit', edit_collection_path(@collection) %> |
<%= link_to 'Back', collections_path %>
