<% @title="Show" %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @collection.name %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @collection.picture %>
</p>

<%= image_tag(@collection.picture, class: "img-thumbnail img-fluid", alt: @collection.picture+" in show page") %>

<%= link_to 'Edit', edit_collection_path(@collection) %> |
<%= link_to 'Back', collections_path %>
